@font-face {
    font-family: 'FrutigerLT-Bold';
    src: url('FrutigerLT-Bold.eot');
    src: url('FrutigerLT-Bold.eot?#iefix') format('embedded-opentype'),
        url('FrutigerLT-Bold.woff2') format('woff2'),
        url('FrutigerLT-Bold.woff') format('woff'),
        url('FrutigerLT-Bold.ttf') format('truetype'),
        url('FrutigerLT-Bold.svg#FrutigerLT-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

